---
platform: linux

inputs:
- name: bosh-cli
- name: compiled-linux-amd64
- name: compiled-linux-arm64
- name: compiled-darwin-amd64
- name: compiled-darwin-arm64
- name: compiled-windows-amd64
- name: release-notes

outputs:
- name: checksums

run:
  path: bosh-cli/ci/tasks/build-checksum-file.sh
