---
platform: linux

inputs:
- name: bosh-cli
- name: version-semver

outputs:
- name: compiled-darwin-arm64

params:
  GOOS:   darwin
  GOARCH: arm64
  FILENAME_PREFIX: ''

run:
  path: bosh-cli/ci/tasks/build.sh
