---
platform: linux

inputs:
- name: bosh-cli
- name: version-semver

outputs:
- name: compiled-windows-amd64

params:
  GOOS:   windows
  GOARCH: amd64
  CGO_ENABLED: 0
  FILENAME_PREFIX: ''

run:
  path: bosh-cli/ci/tasks/build.sh
