---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: bosh/cli
    tag: 'latest'

inputs:
- name: bosh-cli
  path: gopath/src/github.com/cloudfoundry/bosh-cli
- name: compiled-linux
- name: compiled-darwin
- name: compiled-windows

outputs:
- name: checksums

run:
  path: gopath/src/github.com/cloudfoundry/bosh-cli/ci/tasks/build-checksum-file.sh
