---
platform: linux

inputs:
- name: bosh-cli
- name: version-semver

outputs:
- name: compiled-linux-arm64

params:
  GOOS:   linux
  GOARCH: arm64
  CGO_ENABLED: 0
  FILENAME_PREFIX: ''

run:
  path: bosh-cli/ci/tasks/build.sh
