---
platform: linux

image: docker:///bosh/init

inputs:
- name: bosh-init
  path: gopath/src/github.com/cloudfoundry/bosh-init
- name: bosh-warden-cpi-release
  path: cpi-release

run:
  path: gopath/src/github.com/cloudfoundry/bosh-init/ci/tasks/test-acceptance.sh

params:
  BOSH_AWS_ACCESS_KEY_ID: AKIAJ5FV4SJUJOX3YZ3A
  BOSH_AWS_SECRET_ACCESS_KEY: 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
  BOSH_LITE_KEYPAIR: bosh
  BOSH_LITE_PRIVATE_KEY_DATA: |
    -----BEGIN RSA PRIVATE KEY-----
    MIIEpAIBAAKCAQEA3CW303wxjAxdA6OEocDHLPFnttlrkcZGfJPy4I7Op86k3aAi
    PrGCKXUkvq+SDUmJXy8ATd3qKNlN68cwB1aBI6wMxiLlsbEOFLFE0NL+KuHUpwTk
    k4a24SH953Gg+i6N8y6xeEXcdkwDDBJUyhQPYwk7cUXPnNoCBmuGuBuaEouO6lHw
    iyuso/HQte9gmx/erl8MmQ9C8k3rF5JRBTHP9xHVjbD61j8Jkv3H/SBkytN8DWws
    OhC6ZsZWBKu3wIc8lA6EG9pMJLAPGPDzWDmbKW8wDxg2rhzYhQsMBQua4oEqv7Rs
    K8MUGrtK5tJ6cPoG5kZSq3JbWzZoupKzmE+mhwIDAQABAoIBAHLkcHK8HzOjBCww
    +7hbXteSyXkBMYWrv/+mSxxtC2dCjoJn31du1qqCS4IFKSksFriJVBRPW7Sj7Gm/
    084QlGcklKoXbl71M48TEQIXC7UflRbxk8V2ih0m21cd01CeWVDwLojBlRRcCT8U
    lhG8tGcQW2h7caW/lUz6cx3Esf04xmA/dEEhU8em4StsBw39DHq0Zvd14ke6yU5E
    C1SQ2N2iQ5jRkdgaQ/zrh35LUrIn5INkB4fEGFMPJKdNsjOrWFUswI01nY8X3agP
    GqiBkDAMKCPxcS/YvvwGb3zO6C/CD31yXMbSQJw1SXUpQogoPtjH+ahSkUFXkZU3
    DrJcFMkCgYEA+nSYsvbEbgzjtt7l8wI3GiTzM55XVe5hxT0dRksDUm9/xdGq6Kr9
    XipS/gdC7Agidxn1C4cTP9vUWXULwW4pwOVmt5JopnBNhH+pItZ2xOPYyPd+C1rQ
    wyjzNsg8VJx+p0NTDllzJjm31AAk+zi1VYSn12AyFaoKQVgVvjT4KMMCgYEA4QVb
    UYeT3nyCYotZjlXaU4EdNyz261G1740hQOHVl0+TjJgQ2+ZSRwmODU1CFNnQm3tP
    G4VyyybuTmVJ5D5PO3HIFSdqTncBy7V8GO6WWZ/IiLKmwfA1G0oTAGCuVZMjVvpX
    g9Hx/DdbqrynMnX5W+9+S0UNUcP/dKTGiLbXzu0CgYEAr+852PWZtMjfKXXYyGT0
    +iucn9UJ+rYy/g/ZQaiuE7l5YyfOzBRZWU2X8RR+wTlRpKKaTVe8gO5Wc+TRtjZB
    pFxBVJDHbKuU+I+I640F73cysLGSXD2WSpG4j/IG11T7b1nOvVS+m8qNxKG5WLRU
    RVejY5sSc7935sEOvQeOj2sCgYBQkEJppkji12E3Nv0RYNuSGiADqS2egtrIsZa+
    TBzU18DUDX27vXKnzFv3lzmZjYKKqFNiXx0CbyXTG6Cg/04O0mX4bOw6u5EBBjEw
    G/voirSZfJ0HwqDA7HxxHixMpyl38plysLAaxRckwfZ6spJcwBpPiKGELNBBSt1q
    BUyu4QKBgQCSe9BhEALeK5X6outgLLVu/YFr814qMKLGlvaOgJFqfjyAN+7Qg9Hw
    4XNZi1vrwBP7Pb8d0gIAb/S2ZGUiEqEo93EFiwd0GNN1f2/WIyys8OtKuT/7MTk4
    OKQBrWVosXmMCnJ86HesPwVtdKipaxsmiJ9ynPvTQDYlx0RixeH31w==
    -----END RSA PRIVATE KEY-----
  BOSH_LITE_SECURITY_GROUP: sg-f8b6fe9c
  BOSH_LITE_SUBNET_ID: subnet-3245fd19
