---
platform: linux

inputs:
- name: bosh-cli
- name: version-semver
- name: compiled-darwin-amd64
- name: compiled-darwin-arm64
- name: compiled-linux-amd64
- name: homebrew-tap

outputs:
- name: update-brew-formula-output

run:
  path: bosh-cli/ci/tasks/update-homebrew-formula.sh
